.jumbotron {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
a:hover {
  text-decoration: none;
  color: gray;
}

h1 {
   width: 100%;
   text-align: center;
   border-bottom: 3px solid gray;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h1 span {
    background:#eee;
    padding:0 10px;
}
